.contact{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
    background: var(--secondaryColor);
    color: var(--light);
    padding: 0 0 15px;
    margin: 0 0 0;
}

.contact svg{
    stroke: var(--light);
}

@media (max-width:767px){
    .contact{
        clip-path: none;
        -webkit-clip-path: none;
        padding: 12vw 0 10vw;
    }
}
