/* .svgWrap{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 0;
}

.svg-animate {
    width: 50%;
    transform: var(--leftSvg);
    opacity: 0;
}

.svg-animate{
    opacity: 1;
}

.svg-animate g path{
    stroke-dashoffset: 88;
    stroke-dasharray: 88;
    stroke-width: 0;
    opacity: 1;
}
 .svg-animate g:nth-child(1) path{
    animation: svgAnimation .3s ease-out 0.25s forwards;
}

.svg-animate g:nth-child(2) path{
    animation: svgAnimation .3s ease-out 0.45s forwards;
}

.svg-animate g:nth-child(3) path{
    animation: svgAnimation .3s ease-out 0.65s forwards;
}

@keyframes svgAnimation{
    from{
        stroke-dashoffset: 88;
        stroke-width: 0;
    }
    to{
        stroke-dashoffset: 0;
        stroke-width: 1.5;
    }
}

@media (max-width:767px){
    .svg-animate{
        transform: var(--mobleft);
    }
} */
