.hamburger{
    margin: 0 10% 0 auto;
    align-self: center;
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 30;
    display: none;
}

.hamburger div{
    height: 3px;
    display: block;
    width: 32px;
    background-color: #000;
    margin: 5px 0;
    padding: 1px 0;
    transition: all 0.5s ease;
}

.toggle div{
    background-color: #ffffff;
}

.toggle .line1{
    /* transform: rotate(45deg) translate(10px); */
    transform: rotate(45deg) translate(6px, 7px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    /* transform: rotate(-45deg) translate(10px); */
    transform: rotate(-45deg) translate(4px, -6px);
}

@media (max-width:767px){
    .hamburger{
        display: block;
    }
}