.headerSection{
    display: flex;
    min-height: 90px;
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 45;
    box-shadow: 0 1px 6px rgb(0 0 0 / 43%);
    border-bottom: 4px solid;
    border-bottom-style: double;
}

@media (max-width:767px){
    .headerSection{
        min-height: 60px;
    }
}